<div class="ui breadcrumb">
  <a href="<%= root_path %>" class="section">Home</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Contacts</div>
</div>

<h2 chass="ui header">Contacts</h2>

<table class="ui selectable striped table">
  <thead>
    <tr>
      <th><i class="at icon"></i></th>
      <th><i class="comment outline icon"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.email, contact_path(contact) %></td>
        <td><%= contact.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
